.approval-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}

.first-card {
  clear: both;
}

.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align buttons to the bottom */
  margin-top: auto; /* Push card actions to the bottom */
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-row button {
  flex-basis: 45%;
  border-radius: 5px;
  border-color:  #dfe6ec;
  background-color:  #dfe6ec;
}
